<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>GLOW COSMETICS</p>
    <div>
        <a href="/">HOME</a>
        <a href="/categories">CATEGORIES</a>
        <a href="/products">PRODUCTS</a>
    </div>
</body>
</html>