
<div class="flex justify-between items-center p-4 bg-black h-16 border-b-4 border-b-yellow-600">
         <p class="text-yellow-500 font-extrabold" >GLOW COSMETICS</p>
    <div class="flex space-x-4 text-white">
        <a href="/" class=" hover:text-yellow-500">HOME</a>
        <a href="/categories" class=" hover:text-yellow-500">CATEGORIES</a>
        <a href="/products" class=" hover:text-yellow-500">PRODUCTS</a>
    </div>
 </div>
   