<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/categories/createCategory" method="post" enctype="multipart/form-data">
        <label for="category_name">Name:</label>
        <input type="text" id="category_name" name="category_name" required>

        <label for="category_image">Upload Image:</label>
        <input type="file" name="category_image" required>

        <button type="submit">CREATE</button>
    </form>
</body>
</html>