@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn{
    @apply border-2 border-yellow-500 bg-black text-white px-4 py-2 rounded transition-colors duration-300 hover:bg-yellow-500 hover:text-black;
}

